<template name="Projects">    
    <h1>Projects</h1>
</template>

<template name="ProjectCard1">    
    <div class="project-card">
        <div class="featured-image">
            <a href=""><img src="img/p1.jpg" alt="project1"></a>
            <div class="content">
                <h5>Project Title</h5>
                <p class="date">On August 5, 2012 9:30 PM</p>                
                <p class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque, vel possimus iure eligendi, voluptatem blanditiis ratione</p>
            </div>
        </div>
        <div class="card-footer">
            <span class="view-count"><i class="fa fa-eye"></i> 22,552</span>
            <span class="comment"><i class="fa fa-comment"> 550</i></span>
            <span class="favorite"><i class="fa fa-heart"></i> 22,100</span>
        </div>
    </div>
</template>

<template name="ProjectCard2">    
        <div class="project-card">
            <div class="featured-image">
                <a href=""><img src="img/p2.jpg" alt="project2"></a>
                <div class="content">
                    <h5>Project Title</h5>
                    <p class="date">On August 5, 2012 9:30 PM</p>                
                    <p class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque, vel possimus iure eligendi, voluptatem blanditiis ratione</p>
                </div>
            </div>
            <div class="card-footer">
                <span class="view-count"><i class="fa fa-eye"></i> 22,552</span>
                <span class="comment"><i class="fa fa-comment"> 550</i></span>
                <span class="favorite"><i class="fa fa-heart"></i> 22,100</span>
            </div>
        </div>
    </template>