<template name="Projects"> 
    <div class="header-card">
        <div class="container">
            <h1>Discover Creative Works</h1>
        </div>
    </div>
    <div class="appbar">
        {{> AppBar}}
    </div>
    <div class="filter-bar">
        {{> FilterBar}}
    </div>
    <div class="grid-wrapper">
        <div class="container">
            <div class="featured-projects">
                <div class="grid">
                    <div class="grid-item">
                        {{> ProjectCard1}}
                    </div>
                    <div class="grid-item">
                        {{> ProjectCard2}}
                    </div>
                    <div class="grid-item">
                        {{> ProjectCard1}}
                    </div>
                    <div class="grid-item">
                        {{> ProjectCard2}}
                    </div>
                    <div class="grid-item">
                        {{> ProjectCard1}}
                    </div>
                    <div class="grid-item">
                        {{> ProjectCard2}}
                    </div>
                    <div class="grid-item">
                        {{> ProjectCard1}}
                    </div>
                    <div class="grid-item">
                        {{> ProjectCard2}}
                    </div>
                    <div class="grid-item">
                        {{> ProjectCard1}}
                    </div>
                    <div class="grid-item">
                        {{> ProjectCard2}}
                    </div>
                    <div class="grid-item">
                        {{> ProjectCard1}}
                    </div>
                    <div class="grid-item">
                        {{> ProjectCard2}}
                    </div>
                </div>
            </div> 
        </div>
    </div>
    <script>
        setTimeout(function () {
            $('.grid').masonry({
                // options...
                itemSelector: '.grid-item',
                masonry: {
                    columnWidth: 10
                }
            });
        }, 1000);
        </script>
</template>

<template name="ProjectCard1">    
    <div class="project-card">
        <div class="featured-image">
            <a href=""><img src="img/p1.jpg" alt="project1"></a>
            <div class="content">
                <h5>Project Title</h5>
                <p class="date">On August 5, 2012 9:30 PM</p>                
                <p class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque, vel possimus iure eligendi, voluptatem blanditiis ratione</p>
            </div>
        </div>
        <div class="card-footer">
            <span class="view-count"><i class="fa fa-eye"></i> 22,552</span>
            <span class="comment"><i class="fa fa-comment"> 550</i></span>
            <span class="favorite"><i class="fa fa-heart"></i> 22,100</span>
        </div>
    </div>
</template>

<template name="ProjectCard2">    
        <div class="project-card">
            <div class="featured-image">
                <a href=""><img src="img/p2.jpg" alt="project2"></a>
                <div class="content">
                    <h5>Project Title</h5>
                    <p class="date">On August 5, 2012 9:30 PM</p>                
                    <p class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque, vel possimus iure eligendi, voluptatem blanditiis ratione</p>
                </div>
            </div>
            <div class="card-footer">
                <span class="view-count"><i class="fa fa-eye"></i> 22,552</span>
                <span class="comment"><i class="fa fa-comment"> 550</i></span>
                <span class="favorite"><i class="fa fa-heart"></i> 22,100</span>
            </div>
        </div>
    </template>