<template name="CampaignAdd">
    <div class="grid-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                    <h3>Post a Campaign</h3>
                    <hr>
                    <form action="">
                        <div class="form-group">
                            <label for="companyname">Campaign Title</label>
                            <input type="text" class="form-control" id="companyname" placeholder="Enter Campaign Title">
                        </div>
                        <div class="form-group">
                            <label for="title">Description</label>
                            <textarea class="form-control" id="tags" rows="4" placeholder="Enter Description"></textarea>
                        </div>
                        <div class="form-group">
                            <label for="location">Budget</label>
                            <input type="text" class="form-control" id="location" placeholder="Enter Budget">
                        </div>
                        <div class="form-group">
                            <label for="location">Tags</label>
                            <input type="text" class="form-control" id="location" placeholder="Enter Tags">
                        </div>
                        <div class="form-group">
                            <label for="url">URL to Description</label>
                            <input type="text" class="form-control" id="url" placeholder="Enter URL to Description">
                        </div>

                        <button class="btn btn-default">Featured Image</button>

                        <hr>
                        <h3>Contact Info</h3>
                        <hr>
                        <div class="form-group">
                            <label for="name">Contact Name</label>
                            <input type="text" class="form-control" id="name" placeholder="Enter Contact Name">
                        </div>
                        <div class="form-group">
                            <label for="email">Contact Email</label>
                            <input type="text" class="form-control" id="email" placeholder="Enter Contact Emailn">
                        </div>

                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</template>