<template name="Academy">
    <div class="header-card">
        <div class="container">
            <h1>Learning Paths</h1>
        </div>
    </div>
    <div class="appbar">
        {{> AppBar}}
    </div> 
    <div class="grid-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <div class="filter-panel">
                        <div class="form-group">
                            <label for="keyword">Keyword</label>
                            <input type="text" class="form-control" id="keyword" placeholder="Enter Keyword">
                        </div>
                        <div class="form-group">
                            <label for="location">Location</label>
                            <input type="text" class="form-control" id="location" placeholder="Enter Location">
                        </div>
                        <div class="form-group">
                            <label for="skills">Skills</label>
                            <input type="text" class="form-control" id="location" placeholder="Enter Slikks">
                        </div>
                    </div>
                </div>
                <div class="col-md-9">
                    <div class="campaign-list">
                        <div class="row">
                            <div class="col-md-4">
                                {{> CourseCard}}
                            </div>
                            <div class="col-md-4">
                                {{> CourseCard2}}
                            </div>
                            <div class="col-md-4">
                                {{> CourseCard2}}
                            </div>
                            <div class="col-md-4">
                                {{> CourseCard}}
                            </div>
                            <div class="col-md-4">
                                {{> CourseCard2}}
                            </div>
                            <div class="col-md-4">
                                {{> CourseCard}}
                            </div>
                        </div>                      
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<template name="CourseCard">
    <div class="course-card">
        <div class="thumb-image">
            <img src="img/course1.png" alt="">
        </div>
        <div class="content">
            <h4>Introduction to Design Guide</h4>
        </div>
        <a href="" class="btn btn-primary btn-block">Visit Course Site</a>
    </div>
</template>

<template name="CourseCard2">
    <div class="course-card">
        <div class="thumb-image">
            <img src="img/course2.png" alt="">
        </div>
        <div class="content">
            <h4>Introduction to Design Guide</h4>
        </div>
        <a href="" class="btn btn-primary btn-block">Visit Course Site</a>
    </div>
</template>