<template name="AppBar">
    <div class="container">
        <ul class="menu list-inline">
            <li><a href="{{ pathFor 'projects'}}"><i class="fa fa-address-book"></i><br>Projects</a></li>
            <li><a href="{{ pathFor 'people'}}"><i class="fa fa-users"></i><br>People</a></li>
            <li><a href="{{ pathFor 'brands'}}"><i class="fa fa-address-card"></i><br>Brands</a></li>
            <li><a href="{{ pathFor 'jobs'}}"><i class="fa fa-list-alt"></i><br>Jobs</a></li>
            <li><a href="{{ pathFor 'competitions'}}"><i class="fa fa-trophy"></i><br>Competitions</a></li>
            <li><a href="{{ pathFor 'products'}}"><i class="fa fa-shopping-cart"></i><br>Products</a></li>
            <li><a href="{{ pathFor 'events'}}"><i class="fa fa-calendar"></i><br>Events</a></li>
            <li><a href="{{ pathFor 'campaigns'}}"><i class="fa fa-align-right"></i><br>Campaigns</a></li>
            <li><a href="{{ pathFor 'academy'}}"><i class="fa fa-graduation-cap"></i><br>Academy</a></li>
            <li><a href="{{ pathFor 'apps'}}"><i class="fa fa-angle-down"></i><br>Apps</a></li>
        </ul>
    </div>
</template>