/* ====================== Navbar ============================ */


/* ====================== Home ============================ */
.header-card{
    padding: 50px;
    background-color: #333;
    color: #ddd;
    text-align: center;
    margin-bottom: 50px;
}
.grid-item{
    width: 24%;
    margin-right: 1%;
    margin-bottom: 25px;
}