<template name="FilterBar">
    <div class="container">
        <ul class="menu">
            <li><a href="">Following</a></li>
            <li><a href="">Recents</a></li>
        </ul>
        <div class="keyword">
            <input type="text" class="form-control keyword-search" placeholder="Enter Keywords">
        </div>
        <div class="location">
            <input type="text" class="form-control location-search" placeholder="Enter Location">
        </div>
        <div class="post-item">
            <a href="" class="btn btn-primary">Post a Project</a>
        </div>
    </div>
</template>