<template name="FilterBar">
    <div class="container">
        <ul class="menu">
            <li><a href="">Following</a></li>
            <li><a href="">Recents</a></li>
        </ul>
        <div class="keyword">
            <input type="text" class="form-control keyword-search" placeholder="Enter Keywords">
        </div>
        <div class="location">
            <input type="text" class="form-control location-search" placeholder="Enter Location">
        </div>
        <div class="post-item">
            <a href="{{pathFor 'project-add'}}" class="btn btn-primary">Post a Project</a>
        </div>
    </div>
</template>

<template name="FilterBarShop">
    <div class="container">
        <ul class="menu">
            <li><a href="">Featurd</a></li>
            <li><a href="">Recents</a></li>
        </ul>
        <div class="keyword">
            <input type="text" class="form-control keyword-search" placeholder="Enter Keywords">
        </div>
        <div class="location">
            <input type="text" class="form-control location-search" placeholder="Enter Location">
        </div>
        <div class="form-group">
            <label for="category">Category</label>                                                    
            <select class="form-control">
                <option>Photography</option>
                <option>Fashion</option>
                <option>Theme</option>
                <option>Shoes</option>
                <option>Crafts</option>
            </select>
        </div>
        <div class="post-item">
            <a href="" class="btn btn-primary">Post a Product</a>
        </div>
    </div>
</template>