ul.tasks {
    margin: 25px 0;
    padding: 0;
}
ul.tasks li{
    list-style: none;
    border-bottom: 1px solid #ddd; 
    padding: 15px 0;
}

ul.tasks li:first-child{
    border-top: 1px solid #ddd;
}

ul.tasks li .toggle-checked{
    margin-right: 10px;
}

ul.tasks li input[type=checkbox]:checked + span{
    color: #ddd;
    text-decoration: line-through;
}

ul.tasks li button{
    float: right;
    margin-top: -7px;
}

ul.tasks li button.btn-default{
    margin-right: 5px;
}