<template name="BrandDetails"> 
    <div class="row">
        <div class="col-md-4">
            <div class="passport">
                <div class="passport-top text-center">
                    <div class="profile-pic">
                        <img src="img/user.jpg" alt="profile">
                    </div>
                    <div class="basic-info">
                        <h3>Eddie Lobanovskiy</h3>
                        <h5>Sarasota, FL</h5>
                    </div>
                    <div class="btns-follow-msg m-t-sm">
                        <a href="" class="btn btn-primary">Follow</a>
                        <a href="" class="btn btn-success"><i class="fa fa-envelope fa"></i></a>
                    </div> 
                    <hr>
                    <div class="bio m-t-sm">Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime voluptates in minus eum nesciunt cupiditate ipsam neque, sapiente iure amet asperiores quidem qui hic suscipit repellendus tempore sed beatae ipsum.</div>
                    <hr>
                    <div class="skills">
                        <ul class="list-inline skills">
                            <li><a href="">Architecture</a></li>
                            <li><a href="">3D Art</a></li>
                            <li><a href="">Game Deign</a></li>
                            <li><a href="">Graphic Art</a></li>
                            <li><a href="">Interior Design</a></li>
                            <li><a href="">Photoshop</a></li>
                            <li><a href="">Photography</a></li>
                        </ul>    
                    </div>
                    <hr>
                    <div class="links">
                        <ul class="links">
                            <li><a href=""><i class="fa fa-facebook"></i> Facebook</a></li>
                            <li><a href=""><i class="fa fa-twitter"></i> Twitter</a></li>
                            <li><a href=""><i class="fa fa-google"></i> Google</a></li>
                            <li><a href=""><i class="fa fa-linkedin-square"></i> Linked In</a></li>
                            <li><a href=""><i class="fa fa-globe"></i> Your Website</a></li>
                        </ul>
                    </div>
                </div>
            </div>    
        </div>
        <div class="col-md-8">
            <div class="menubar">
                <ul>
                    <li><a href="">Projects</a></li>
                    <li><a href="">Networks</a></li>
                    <li><a href="">Shop</a></li>
                    <li><a href="">Favorites</a></li>
                </ul>
            </div>
            <div class="featured-projects">
                <div class="grid">
                    <div class="grid-item">
                        {{> ProjectCard1}}
                    </div>
                    <div class="grid-item">
                        {{> ProjectCard2}}
                    </div>
                    <div class="grid-item">
                        {{> ProjectCard1}}
                    </div>
                    <div class="grid-item">
                        {{> ProjectCard2}}
                    </div>
                    <div class="grid-item">
                        {{> ProjectCard1}}
                    </div>
                    <div class="grid-item">
                        {{> ProjectCard2}}
                    </div>
                    <div class="grid-item">
                        {{> ProjectCard1}}
                    </div>
                    <div class="grid-item">
                        {{> ProjectCard2}}
                    </div>
                    <div class="grid-item">
                        {{> ProjectCard1}}
                    </div>
                    <div class="grid-item">
                        {{> ProjectCard2}}
                    </div>
                    <div class="grid-item">
                        {{> ProjectCard1}}
                    </div>
                    <div class="grid-item">
                        {{> ProjectCard2}}
                    </div>
                </div>
            </div>
        </div>
    </div>   
    <script>
    setTimeout(function () {
        $('.grid').masonry({
            // options...
            itemSelector: '.grid-item',
            masonry: {
                columnWidth: 10
            }
        });
    }, 1000);
    </script>
</template>