<template name="Competitions">
    <div class="header-card">
        <div class="container">
            <h1>Join Competitions</h1>
        </div>
    </div>
    <div class="appbar">
        {{> AppBar}}
    </div>
    <div class="grid-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <div class="filter-panel">
                        <div class="form-group">
                            <label for="keyword">Keyword</label>
                            <input type="text" class="form-control" id="keyword" placeholder="Enter Keyword">
                        </div>
                        <div class="form-group">
                            <label for="location">Location</label>
                            <input type="text" class="form-control" id="location" placeholder="Enter Location">
                        </div>
                        <div class="form-group">
                            <label for="skills">Skills</label>
                            <input type="text" class="form-control" id="skills" placeholder="Enter Skills">
                        </div>
                    </div>
                </div>
                <div class="col-md-9">
                    <div class="people-list">
                        {{> CompetitionCard}}
                        {{> CompetitionCard}}
                        {{> CompetitionCard}}
                        {{> CompetitionCard}}
                        {{> CompetitionCard}}
                        {{> CompetitionCard}}                       
                    </div>
                </div>
            </div>
        </div>
    </div>     
</template>

<template name="CompetitionCard">
    <div class="competition-card">
        <p>Company Name</p>
        <h3><a href="">Sleek and unique owl logo design for laser markin</a></h3>
        <ul class="bottom">
            <li><p><i class="fa fa-clock"></i> 6 days left</p></li>
            <li><p><i class="fa fa-image"></i> 88</p></li>
            <li class="pull-right"><h4 class="price">$380</h4></li> 
        </ul>
    </div>
</template>